.cart{
    position: fixed;
    top: 0;
    right: 30px;
    width: 100%;
    background-color: transparent ;
    padding: 0px;
    z-index: 1000;
    /* background: none; */
    border: none;
    cursor: none;
}

.cart img{
    width: 70px;
    height: 70px;
} 
.cart button{
    position: absolute;
    background-color: transparent ;
    top: 20px;
    border: none;
    right: 10px;
    cursor: pointer;
}
.cart button:hover{
    background-color: #0056b3;

}